.container{
    display: grid;
    grid-template-columns: repeat(14, 112px);
    grid-template-rows: 1fr 1fr 100px auto;
    column-gap: 32px;
   justify-items: center;
    
}
/* Start page */
.title{
    font-family: 'ABeeZee', sans-serif;
    font-size: 100px;
    grid-column: 7/span 2;
    grid-row: 2;
}

a{
    grid-row: 4;
    grid-column: 7/span 2;

}
a .button{
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    font-family: 'Be Vietnam', sans-serif;
    font-weight: bold;
    font-style: italic;
    
}
#dove{
    grid-column: 6/ span 2;
    grid-row: 3;
}
.quote{
    grid-column: 7/ span 2;
    grid-row: 3;
    font-family: 'Be Vietnam', sans-serif;
    font-weight: lighter;
}
.login{
    padding-top: 10px;
    grid-row: 4;
    grid-column: 7/span 2;
    font-size: small;
    font-family: 'Be Vietnam', sans-serif;
    font-weight: bold;
}
/* Login page */
.login-container{
    justify-items: center;
    grid-row: 3;
    grid-column: 7/ span 2;
}
#login-button{
    grid-row: 4;
    grid-column: 7/ span 2;
    width: auto;
    height: auto;
    padding: 5px;
    background-color: transparent;
    border: 1px solid grey;
    border-radius: 15px;
}
/* Background Img */
body {
   font-family: 'Be Vietnam', sans-serif;
}

.login-bg{
    background-image:url("../styles/img/background.png");
    background-repeat: no-repeat;
    background-size: auto;
}

.home-bg{
    background-image:url("../styles/img/memoriis.png");
    background-repeat: no-repeat;
    background-size: auto;
}

/* Nav */
.icon {
    grid-row: 1;
    grid-column: 1 /span 2;
    margin-left: 20px;
}

#myLinks {
    display: none;
    grid-row: 2;
    grid-column: 1/ span 2;
}

.search-container{
    grid-row: 1;
    grid-column: 3/ span 2;
}

#search{
    border: 1px solid grey;
    border-radius: 15px;
    padding: 2px 23px 2px 30px;
    outline: 0;
    background-color:transparent;
}
#search-button{
    width: auto;
    height: auto;
    padding: 5px;
    background-color: transparent;
    border: transparent;
}
#header{
    grid-row: 1;
    grid-column: 7/ span 2;
    margin-top: 0;
}

#add-button{
    grid-row: 1;
    grid-column: 13;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: 1px solid grey;
    border-radius: 15px;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    font-family: 'Be Vietnam', sans-serif;
    font-weight: bold;
    font-style: italic;

}
